body{
    background-color:  #ca242b;
}
#banner{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#mainTitle{
    color: aliceblue;
    text-align: center;
    font-size: 3.5em;
    font-family: 'Josefin Sans Bold 700', sans-serif;
}

.botones button {
  background-color: #eeda4b;
  border: 1px solid #eeda4b;
  color: #161511;
  font-family: 'Josefin Sans Bold 700', sans-serif;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}
.botones:after {
  content: "";
  clear: both;
  display: table;
}
.botones button:hover {
  background-color:aliceblue;
  color: #161511;
}

#otherTitles{
  color: aliceblue;
  text-align: center;
  font-size: 2.5em;
  font-family: 'Josefin Sans Bold 700', sans-serif;
}

.subtitles{
    background-color: #eeda4b;
    height: 2em;
    padding: 1em;
    text-align: center;
    color:#161511;
    font-family: 'Josefin Slab', serif;
}

a:link{
  color:  #ca242b;
}


h5{
    color:aliceblue;
    text-align: center;
    font-family: 'Josefin Slab', serif;
}


.container {
  align-items: center;
  border: solid 3px;
  padding: 1em;
  max-width: 100%;
  border-color: #eeda4b;
  display: flex;
  justify-content: center;
  height: 8em;
}
#logo{
  max-width: 100%;
  max-height: 100%;
}

.separador{
  border-top: 3px dotted #bbb;
}

.images{
  background-color:#161511;
  height: 35em;
  padding: 3em;
  
  #Charles{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25em;
    max-height: 25em;
  }
  #Carlos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25em;
    max-height: 25em;
  }
  #Vasseur{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25em;
    max-height: 25em;
  }
  #car{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 35em;
    max-height: 35em;
  }
}

.Info{
  font-size:1.5em;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Josefin Slab', serif;
  color: aliceblue;
  align-items: center;
}


